/* custom styles */

div {}
nav {}
article {}
h1 {}

/* ids */
#header {
	background-color: red;
}
#logo {}

.logo-class {
	width: 100px;
	height: 50px;
	display: block;
	background-image: url("../images/logo.jpg");
}

/* classes */
.window {
	color: blue;
}