/* TABLES */
table {
	/*width: 100%;*/
	margin-bottom: calc( calc(4 * var(--baselineUnit)) / calc(var(--baseFontEm) * var(--baseFontSize)) );
	border-collapse: collapse;
	border-spacing: 0;
}
thead {
	font-weight: bolder;
}
tr {
	border-bottom: 1px solid #b3b3b3;
	padding-top: calc( calc(4 * var(--baselineUnit)) / calc(var(--baseFontEm) * var(--baseFontSize)) );
	padding-bottom: calc( calc(4 * var(--baselineUnit)) / calc(var(--baseFontEm) * var(--baseFontSize)) );
}
tr:nth-child(even) {
	background-color: #cccccc;
}
th, td {
	text-align: left;
}
th:first-child, td:first-child {
	padding-left: calc( calc(2 * var(--baselineUnit)) / calc(var(--baseFontEm) * var(--baseFontSize)) );
}
th:last-child, td:last-child {
	padding-right: calc( calc(2 * var(--baselineUnit)) / calc(var(--baseFontEm) * var(--baseFontSize)) );
}